.compiler-container {
  background-color: #2B3467;
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #BAD7E9;
}
h3 {
  text-align: center;
  color: #0C134F;
}
.options-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.language-dropdown {
  margin-right: 10px;
  padding-left: 20px; 

}

label {
  margin-right: 5px;
  color: #fff;
}

select {
  padding: 8px;
  font-size: 14px;
}

.editor-output-container {
  display: flex;
  width: 100%;
}

.line-count {
  margin-top: 5px;
  color: #555;
}

.editor-container {
  position: relative;
  display: flex;
  padding-left: 20px;
  width: 60%;
  height: 500px;

}

.output-container {
  flex: 1;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  background-color: #FAF6F0;
  width: 0%;
  height: 500px;
}

.line-numbers {
  width: 30px;
  padding: 10px;
  background-color: #FAF6F0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

textarea {
  flex: 1;
  padding: 10px;
  background-color: #FAF6F0;
  color: #fff;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  resize: none;
  overflow-y: scroll;
}  

button {
  background-color: lightcoral;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:#16FF00;
}

pre {
  white-space: pre-wrap;
  font-size: 14px;
}
